body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 25%;
    padding-left: 10%;
}
.half-width img{
 width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding:   10px 30px;
    color: aliceblue;
    font-weight: 500;
    border-radius: 25px;
}
.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
 background-position: top;
}
.recipie-item{
    width: 40%;
    margin-left: 2%;
    margin-right: 1%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    border: 15px solid white;
}
.recipie-item img{
    width: 100%;
}
footer p {
text-align: center;
}

